{% extends "base.html" %} {% block content %}
<p class="text-3xl py-3 font-bold"> you can contact me in many many ways </p>
<p class="text-green"> my preferred methods are </p>
<ul class="list-disc list-inside">
<li><a href="https://discord.com/users/320181430011428865" class="font-bold text-blue">discord</a></li>
<li><a href="https://github.com/pandaroses" class="font-bold text-blue">github</a> </li>
<li><a href="mailto:georgiytnimov@gmail.com" class="font-bold text-blue">linkedin</a> </li>
<li><a href="mailto:georgiytnimov@gmail.com" class="font-bold text-blue">email</a> </li>
</ul>
<p class="text-red pt-3"> my less preferred methods are </p>
<ul class="list-disc list-inside">
<li><a href="https://matrix.to/#/@pandarose:matrix.org" class="font-bold text-blue">matrix</a></li>
<li><a href="https://steamcommunity.com/id/pandarose_/" class="font-bold text-blue">steam</a> </li>
</ul>
<p class = "py-3"> if you find me anywhere else on the world wide web, don't be scared to say hi! </p>

{% endblock %}
