{% extends "base.html" %} {% block content %}
<div class="py-3 text-4xl">pandarose_</div>
<div class="text-lg">
  <p>welcome to my silly little site, my name is gosha/pandarose_/foxdaisy</p>
  <p>i like to code in rust, but also know a fair amount of ts/c#/react</p>
  <p>
    i use artix linux with sway and alacritty and i code in
    <a href="https://helix-editor.com/" class="bold text-blue">helix</a>
  </p>
  <p>i also run a silly <a href="https://youtube.com/pandarose_" class=" bold text-red"> youtube </a> channel, which may or may not be active </p>
  <p>
    check out my <a href="/projects" class="text-pink bold">projects</a> which
    are mostly found at
    <a href="https://github.com/gosher-studios" class="text-blue bold"
      >gosher-studios</a
    >
  </p>
  <div class="flex flex-wrap pt-3"> 
  <a href="/"><img class="button" src="static/me.png"></a>
  <a href="https://slonk.ing"><img class="button" src="static/slonk.png"></a>
  <a href="https://chxry.github.io"><img class="button" src="static/chxry.gif"></a>
  <a href="https://artixlinux.org"><img class="button" src="static/artix.gif"></a>
  <a href="https://catppuccin.com"><img class="button" src="static/cat.png"></a>
  <a href="https://helix-editor.com"><img class="button" src="static/helix.png"></a>
  <a href="eightyeightythirtyone.com"><img class="button" src="static/8831.png"></a>
  </div>
</div>

{% endblock %}
